
html,
body {
   width: 100%;
   height: 100%;
   overflow: hidden;
   margin: 0;
   //position: absolute;
   position: fixed;
   top: 0;
   left: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.TopDiv {
    //border: 5px outset red;
    background-color: gainsboro;
    //text-align: center;
    height: 5%;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 99%;
    height: 85%;
    //background-color: lightyellow;
    background-color: white;

//    z-index: 0;
}

.brushWidthBtn {
    width:  32px;
    height: 32px;
}

.ColorPalette {
    display: grid;
    align-items: center;
    justify-items: center;
    //grid-template-columns: 1fr minmax(75%,90%) 1fr;
    background-color: lightblue;
    //background-color: blue;
    position: absolute;
    top:  100px;
    left: 100px;
    
    padding-top:    10px;
    padding-bottom:  5px;
    padding-left:    5px;
    padding-right:   5px;

    border-radius: 10px;
    // overflow: hidden;
    //    z-index: 1;
}

.BrushWidthWindow {
    //display: grid;
    //align-items: center;
    //justify-items: center;
    //grid-template-columns: 1fr minmax(75%,90%) 1fr;
    display: none;

    background-color: lightblue;
    //background-color: blue;
    position: absolute;
    padding-top:    10px;
    padding-bottom:  5px;
    padding-left:    5px;
    padding-right:   5px;
    border-radius:   5px;

    //width: 120px;
}

.BrushWidthSlider {
    -webkit-appearance: none;
    width: 100%;
    border-radius: 8px;
    height: 2px;
    outline: none;
    //data-color: #00f;
}

.TimeSliderGrp {
    display: grid;
    //grid-column-gap: 5rem;
    align-items: center;
    justify-items: center;

    grid-template-columns: 1fr minmax(75%,80%) 1fr;
    background-color: whitesmoke;
    //background-color: black;
    height: 10%;
    //border-style: solid;

}

.PlayBtn {
    //border-style: solid;
    //margin: 10%;
    //padding: 10%;
    -webkit-appearance: none;

    //height: 70%;
    //width:  70%;
    width: 35px;
    height: 35px;
    object-fit: contain;
}

.PlaySlider {
    //border-style: solid;    

    -webkit-appearance: none;
    width: 100%;
    border-radius: 8px;
    height: 2px;
    outline: none;
    data-color: #00f;
}

.PlayFrameNum {
    //border-style: solid;
    border-style: none;
    -webkit-appearance: none;
    outline: none;

    background: transparent;
    //background-color:rgba(0, 0, 0, 0.05);
    //border: none;
    text-align:center;
    font-size:24px;
    color: dimgray;
    border-bottom-style: dashed;
    //padding: 2px;

    //height: 70%;
    //width:  70%;

}

.DebugCtrl
{
    text-align: center;
}


/*
input[type=range] {
    //position: relative;
  -webkit-appearance: none;
  width: 100%;
  //height: 25px;
  //background: #ddd;
  //outline: black;

  //background: linear-gradient(to right, #f00 0%, #f00 50%, #fff 50%, #fff 100%);
  border-radius: 8px;
  height: 2px;
  outline: none;
  data-color: #00f;
}
*/
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-style: none;
    height: 16px;
    width:  16px;
    //height: 50%;
    //width: 50%;
    border-radius: 50%;
    background: dimgray;
    margin-top: -4px;
}



/*
input[type=number] {
  -webkit-appearance: none;
  outline: none;

  background: transparent;
  //background-color:rgba(0, 0, 0, 0.05);
  border: none;
  text-align:center;
  font-size:24px;
  color: dimgray;
  border-bottom-style: dashed;
  //padding: 2px;
}
*/

// This section will remove the up/down arrows in the text field.
//

input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
//





input[type=image] {
  //position: relative;
  -webkit-appearance: none;
  //height: 25px;
  //background: red;
}
