.ImageBtn {
    width:  24px;
    height: 24px;
}

.ColorBtn {
    width:  24px;
    height: 24px;
    padding: 0px;
    margin: 0px;
}

.toolbar {
    background-color:  #cfd1d2; /* Dark-grey background */
    grid-gap: .6em;
    padding: .3em;    
    border-radius: 5px;
}



.dropMenu {
    //display: grid;
    //align-items: center;    
    //background-color:  #cfd1d2; /* Dark-grey background */

    
    position: absolute;
    grid-template-columns: repeat(1,1fr);
    display: none;

}




.toolbar.main {
    position: absolute;
    grid-template-columns: repeat(7, 1fr);
    display: none;
}

.toolbar.box {
    position: absolute;
    grid-template-columns: repeat(6, 1fr);
    display: none;

    //border: 5px;
    //border-style: solid;
}

.toolbar.paint {
    position: absolute;    
    grid-template-columns: 1fr 1fr 1fr;
    display:none;
}

.toolbar.scissors {
    position: absolute;    
    grid-template-columns: 1fr 1fr 1fr;
    display:none;
}

.toolbar.xform {
    position: absolute;    
    grid-template-columns: 1fr 1fr 1fr;
    display:none;
}

.strokeParams {
    position: absolute;
    background-color:  #cfd1d2; /* Dark-grey background */
    display: inline-grid;
    grid-template-columns: 1fr;
    //padding: .3em;    
    border-radius: 5px;
    row-gap: 0em;
    display: none;
}

.Slider {
    display: inline-grid;
    grid-template-columns: 1fr 2fr .5fr;
    //grid-gap: .6em;
    padding: .3em;    
    border-radius: 5px;
}








.dropdown-content {
  display: none;
  position: absolute;
  //right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}
