
html,
body {
   width: 100%;
   height: 100%;
   overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.TopDiv {
    //border: 5px outset red;
    background-color: gainsboro;
    //text-align: center;
    height: 5%;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 99%;
    height: 85%;
    //background-color: lightyellow;
    background-color: white;

    z-index: 0;
}

.ColorPalette {pa
    display: grid;
    align-items: center;
    justify-items: center;
    //grid-template-columns: 1fr minmax(75%,90%) 1fr;
    background-color: lightblue;
    position: absolute;
    top:  100px;
    left: 100px;
    
    padding-top:    20px;
    padding-bottom: 10px;
    padding-left:    5px;
    padding-right:   5px;
    
    border-radius: 10px;

    z-index: 1;
}

.TimeSlider {
    display: grid;
    //grid-column-gap: 5rem;
    align-items: center;
    justify-items: center;

    grid-template-columns: 1fr minmax(75%,90%) 1fr;
    background-color: whitesmoke;
    //background-color: black;
    height: 10%;
}

input[type=range] {
  //position: relative;
  -webkit-appearance: none;
  width: 100%;
  //height: 25px;
  //background: #ddd;
  //outline: black;

  //background: linear-gradient(to right, #f00 0%, #f00 50%, #fff 50%, #fff 100%);
  border-radius: 8px;
  height: 2px;
  outline: none;
  data-color: #00f;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: dimgray;
    margin-top: -4px;
}


input[type=number] {
  -webkit-appearance: none;
  outline: none;

  background: transparent;
  //background-color:rgba(0, 0, 0, 0.05);
  border: none;
  text-align:center;
  font-size:24px;
  color: dimgray;
  border-bottom-style: dashed;
  //padding: 2px;
}

// This section will remove the up/down arrows in the text field.
//

input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
//





input[type=image] {
  //position: relative;
  -webkit-appearance: none;
  //height: 25px;
  //background: red;
}
